## Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd

## Loading the dataset

In [2]:
bdata = pd.read_csv("resources/books.csv")

## Displaying the entire dataset

In [3]:
bdata

,name,author,rating,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2019,Childrens
...,...,...,...,...,...
345,Wild: From Lost to Found on the Pacific Crest ...,Cheryl Strayed,4.4,2012,Non Fiction
346,Winter of the World: Book Two of the Century T...,Ken Follett,4.5,2012,Fiction
347,Women Food and God: An Unexpected Path to Almo...,Geneen Roth,4.2,2010,Non Fiction
348,Wonder,R. J. Palacio,4.8,2013,Fiction
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2019,Childrens

## Displaying the first five rows of the dataset

In [4]:
bdata.head()

,name,author,rating,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2019,Childrens

## Filtering books with a rating greater than or equal to 4.5

In [5]:
filtered_rating = bdata[bdata['rating'] >= 4.5]
filtered_rating

,name,author,rating,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2019,Childrens
...,...,...,...,...,...
343,Where the Wild Things Are,Maurice Sendak,4.8,2009,Childrens
344,Whose Boat Is This Boat?: Comments That Don't ...,The Staff of The Late Show with,4.6,2018,Non Fiction
346,Winter of the World: Book Two of the Century T...,Ken Follett,4.5,2012,Fiction
348,Wonder,R. J. Palacio,4.8,2013,Fiction
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2019,Childrens

## Counting the number of books by each author

In [6]:
author_counts = bdata['author'].value_counts()
author_counts

author
Jeff Kinney            12
Rick Riordan           10
Stephenie Meyer         7
Bill O'Reilly           6
J.K. Rowling            6
                       ..
Eric Larson             1
Christopher Paolini     1
Jennifer Smith          1
Sarah Young             1
R. J. Palacio           1
Name: count, Length: 247, dtype: int64

## Finding the author with the maximum number of books

In [7]:
max_author = author_counts.idxmax()
max_author

'Jeff Kinney'

## Filtering books written by a specific author (Jeff Kinney)

In [8]:
author_books = bdata[bdata['author'] == 'Jeff Kinney']
author_books

,name,author,rating,year,genre
37,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8,2011,Childrens
57,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,4.8,2013,Childrens
58,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,4.8,2009,Childrens
59,Diary of a Wimpy Kid: The Long Haul,Jeff Kinney,4.8,2014,Childrens
65,"Dog Days (Diary of a Wimpy Kid, Book 4) (Volum...",Jeff Kinney,4.8,2009,Childrens
72,Double Down (Diary of a Wimpy Kid #11),Jeff Kinney,4.8,2016,Childrens
179,Old School (Diary of a Wimpy Kid #10),Jeff Kinney,4.8,2015,Childrens
244,The Getaway,Jeff Kinney,4.8,2017,Fiction
278,The Meltdown (Diary of a Wimpy Kid Book 13),Jeff Kinney,4.8,2018,Childrens
302,"The Third Wheel (Diary of a Wimpy Kid, Book 7)",Jeff Kinney,4.7,2012,Childrens
308,"The Ugly Truth (Diary of a Wimpy Kid, Book 5)",Jeff Kinney,4.8,2010,Childrens
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2019,Childrens

## Calculating the average ratings for each author

In [9]:
author_avg_ratings = bdata.groupby('author')['rating'].mean()
author_avg_ratings

author
Abraham Verghese              4.60
Adam Gasiewski                4.40
Adam Mansbach                 4.80
Adir Levy                     4.80
Admiral William H. McRaven    4.70
                              ...
Walter Isaacson               4.55
William Davis                 4.40
William P. Young              4.60
Wizards RPG Team              4.80
Zhi Gang Sha                  4.60
Name: rating, Length: 247, dtype: float64

## Finding the author with the maximum average rating

In [10]:
max_avg_author = author_avg_ratings.idxmax()
max_avg_rating = author_avg_ratings.max()
print(f"{max_avg_author}: {max_avg_rating}")

Alice Schertle: 4.9

## Checking for missing values in the dataset

In [11]:
missing_values = bdata.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 name      0
author    0
rating    0
year      0
genre     0
dtype: int64

## Summarizing the dataset statistics

In [12]:
summary_stats = bdata.describe()
print("Summary Statistics:\n", summary_stats)

Summary Statistics:
            rating         year
count  350.000000   350.000000
mean     4.608571  2013.508571
std      0.226941     3.284711
min      3.300000  2009.000000
25%      4.500000  2010.000000
50%      4.600000  2013.000000
75%      4.800000  2016.000000
max      4.900000  2019.000000

## Calculating correlation matrix

In [13]:
numeric_columns = bdata.select_dtypes(include=['number'])
correlation_matrix = numeric_columns.corr()
print("Correlation Matrix:\n", correlation_matrix)

Correlation Matrix:
           rating      year
rating  1.000000  0.220153
year    0.220153  1.000000

## Splitting the dataset into Train and Test sets

In [14]:
from sklearn.model_selection import train_test_split

X = bdata.drop('rating', axis=1)
y = bdata['rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
X_train

,name,author,year,genre
228,The Book Thief,Markus Zusak,2013,Fiction
78,Eclipse (Twilight Sagas),Stephenie Meyer,2009,Fiction
90,First 100 Words,Roger Priddy,2014,Non Fiction
16,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,2015,Non Fiction
66,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,2018,Childrens
...,...,...,...,...
71,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,2018,Childrens
106,Good to Great: Why Some Companies Make the Lea...,Jim Collins,2009,Non Fiction
270,The Litigators,John Grisham,2011,Fiction
348,Wonder,R. J. Palacio,2013,Fiction
102,Go the F**k to Sleep,Adam Mansbach,2011,Fiction

In [16]:
X_test

,name,author,year,genre
157,Life,Keith Richards,2010,Non Fiction
341,When Breath Becomes Air,Paul Kalanithi,2016,Non Fiction
315,"Things That Matter: Three Decades of Passions,...",Charles Krauthammer,2013,Non Fiction
234,The Confession: A Novel,John Grisham,2010,Fiction
155,Lettering and Modern Calligraphy: A Beginner's...,Paper Peony Press,2018,Non Fiction
...,...,...,...,...
94,Game of Thrones Boxed Set: A Game of Thrones/A...,George R.R. Martin,2011,Fiction
181,One Thousand Gifts: A Dare to Live Fully Right...,Ann Voskamp,2011,Non Fiction
179,Old School (Diary of a Wimpy Kid #10),Jeff Kinney,2015,Childrens
199,Sarah's Key,Tatiana de Rosnay,2010,Fiction
326,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,2009,Fiction

In [17]:
y_train

228    4.6
78     4.7
90     4.7
16     4.4
66     4.9
      ...
71     4.9
106    4.5
270    4.4
348    4.8
102    4.8
Name: rating, Length: 280, dtype: float64

In [18]:
y_test

157    4.5
341    4.8
315    4.7
234    4.3
155    4.4
      ...
94     4.6
181    4.6
179    4.8
199    4.6
326    4.7
Name: rating, Length: 70, dtype: float64